<h1>New Track</h1>

<%= render "tracks/form" %>

<% if @track.errors.any? %>
  <h3>Error - please try again:</h3>
  <ul>
    <% @track.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!-- <%= form_for @list do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit  %>
<% end %> -->
